body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.image-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.neon-green {
    color: black;
    background-color: #00ff00;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}

button.neon-green:hover {
    animation: neon-green 1s infinite alternate;
}

button.neon-red:hover {
    animation: neon-red 1s infinite alternate;
}

@keyframes neon-green {
    from {
        box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
    }
    to {
        box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
    }
}

button.neon-red {
    color: black;
    background-color: #ff0000;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}

.powerful {
    font-size: 36px;
    font-family: Impact, sans-serif;
}

.light-red-bg {
    background-color: #ffcccc;
}

.green-bg {
    background-color: #ccffcc;
}

.neon-green {
    color: black;
    background-color: #00ff00;
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00;
}

.neon-red {
    color: black;
    background-color: #ff0000;
    text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}
